* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;
}

header {
  width: 100%;
  background-color: #ec362d;

  color: white;
  font-size: 37px;
  line-height: 43px;

  position: fixed;
  top: 0;
  left: 0;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

header h1 {
  margin: 13px 0;
  text-align: center;
  font-weight: 700;
}

main.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 69px 0;
  width: 100%;
}

.cabeçalho-tela2 {
  width: 100%;
  height: 227px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-quizz {
  color: #ffffff;
  font-size: 39px;
  line-height: 46px;
  text-align: center;
}

.container-quizz {
  background-color: #ffffff;
  width: 750px;
  margin: 42px auto 0 auto;
  padding: 28px 35px 28px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.container-pergunta {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pergunta {
  color: #ffffff;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
}

.container-quizz p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 330px;
  word-wrap: break-word;
}

.resposta {
  position: relative;
}
.resposta img {
  width: 330px;
  height: 175px;
}

.resposta-errada {
  color: #ff4b4b;
}

.resposta-correta {
  color: #009c22;
}

.caixa-branca {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-titulo-resultado {
  background-color: #ec362d;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-level {
  display: flex;
}

.container-level img {
  width: 360px;
  height: 270px;
  margin-right: 15px;
}

.container-level p {
  width: 300px;
  font-size: 19px;
  word-wrap: break-word;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button-restart {
  width: 260px;
  height: 52px;
  font-size: 21px;
  color: #fff5f4;
  border: 0;
  border-radius: 15px;
  background-color: #ec362d;
  cursor: pointer;
}

.button-home {
  width: 260px;
  height: 52px;
  margin-top: 10px;
  font-size: 21px;
  color: #818181;
  border: 0;
  background-color: #fafafa;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .container-quizz {
    width: 100%;
    padding: 18px;
  }

  .resposta {
    width: calc(50% - 9px);
  }

  .resposta p {
    width: 100%;
  }

  .resposta:nth-child(2) {
    margin-right: 18px;
  }

  .resposta img {
    width: 100%;
    height: calc(0.53 * calc(50vw - 9px));
  }

  .container-level {
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
  }

  .container-tela2 {
    width: 100%;
  }

  .container-level img {
    margin-bottom: 15px;
  }
  .cabeçalho-tela2 {
    max-height: 142px;
  }
  .titulo-quizz {
    font-size: 23px;
    word-break: break-word;
  }

  .pergunta {
    word-break: break-word;
  }
}
